---
---

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap');

@import "{{ site.theme }}";

.w {
  max-width: 1000px !important;
}

body {
  font-family: Noto Sans, sans-serif !important;
  font-weight: 400 !important;
  font-size: 19px !important;
}

ul ul {
  padding-left: 1.5rem;
}
